.dark th{
  background: white;
}

.dark td{
  background: white;
}

.dark .white{
  color: black;
}

.dark .row{
  background-color: white;
  color: black;
}

.dark .dataTables_paginate{
  background-color: white;
  color: black;
}

.dark .dataTables_info{
  color: black;
  background-color: white;
}

.dark .datatable_wrapper{
  background-color: white;
  color: black;
}

.dark .dataTables_wrapper .no-footer{
  background-color: white;
  color: black;
}

.dark .dataTables_length{
  background-color: white;
  color: black;
}

.dark #datatable{
  color: black;
}

.dark .paging_simple_numbers{
  background-color:white;
  color: white;
}

.dark ul li{
  background-color: white;
  color: black;
}

.dark div{
  background-color: white;
  color: black;
}

.dark a{
  color: black;
}

.dark span{
  color: black;
}

.dark .dataTables_filter{
  color: black;
}

.dark .datatable{
  color: black;
}

.dark select{
  background-color: white;
  color: black;
}

.dark input{
  background-color: white;
  color: black;
}

.dark .datatable-container{
   background-color: var(--dt-background-color-container);
}

.dark .header-tools{
  border: 2px solid black;
}

.dark #datatable_wrapper{
  border: 2px solid black;
}

.dark .datatable{
   border: 2px solid black;
}


.modo{
position: relative;
padding: 15px 30px;
color: #fff;
background-color: #000;
letter-spacing: 4px;
font-size: 12px;
text-decoration: none;
overflow: hidden;
transition: 0.5s;
display: inline-block;
}

.modo:hover{
background: white;
color: #000;
box-shadow: 0 0 10px gray, 0 0 40px gray, 0 0 80px gray;
transition: 3.5s;
}

.modo span{
position: absolute;
display: block;
}

#span1{
top: 0;
left: -100%;
width: 100%;
height: 2px;
background: linear-gradient(90deg, transparent, #a945c7);
}

.modo:hover #span1{
left: 100%;
transition: 1s;
}

#span3{
bottom: 0;
right: -100%;
width: 100%;
height: 2px;
background: linear-gradient(270deg, transparent, #a945c7);
}

.modo:hover #span3{
right: 100%;
transition: 1s;
transition-delay: 0.5s;
}

#span2{
top: -100%;
right: 0;
width: 2px;
height: 100%;
background: linear-gradient(180deg, transparent, #a945c7);
}

.modo:hover #span2{
top: 100%;
transition: 1s;
transition-delay: 0.25s;
}

#span4{
bottom: -100%;
left: 0;
width: 2px;
height: 100%;
background: linear-gradient(360deg, transparent, #a945c7);
}

.modo:hover #span4{
bottom: 100%;
transition: 1s;
transition-delay: 0.75s;
}